{
  "swagger": "2.0",
  "info": {
    "version": "V6",
    "title": "ePodpisy",
    "x-swagger-net-version": "8.4.12.001"
  },
  "host": "fatepodpisy.mpss.cz",
  "basePath": "/WS",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{org}/REST/DocumentService/PrepareDocument": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_PrepareDocument",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareDocumentRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/UploadDocument": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_UploadDocument",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseUrl"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/GetDocumentDetailUrl": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_GetDocumentDetailUrl",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentDetailUrlRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseUrl"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/PrepareFinalization": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_PrepareFinalization",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareFinalizationRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/FinalizeSelection": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_FinalizeSelection",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/GetDocumentStatus": {
      "get": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_GetDocumentStatus",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseStatus"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/GetCreditDocumentsByUser": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_GetCreditDocumentsByUser",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCreditDocumentsByUserRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreditDocuments"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/GetCreditDocumentsByContract": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_GetCreditDocumentsByContract",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCreditDocumentsByContractRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreditDocuments"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/PrepareAttachment": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_PrepareAttachment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareAttachmentRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/UploadAttachment": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_UploadAttachment",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/PrepareAttachmentByContract": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_PrepareAttachmentByContract",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareAttachmentByContractRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/UploadAttachmentByContract": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_UploadAttachmentByContract",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/ResendSMS": {
      "post": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_ResendSms",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "messageToClientToken",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/DocumentService/isAlive": {
      "get": {
        "tags": [
          "DocumentService"
        ],
        "operationId": "DocumentService_IsAlive",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/{org}/REST/v2/DocumentService/PrepareDocument": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_PrepareDocument",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareDocumentRequest2"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/UploadDocument": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_UploadDocument",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseUrl2"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/GetDocumentDetailUrl": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_GetDocumentDetailUrl",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentDetailUrlRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseUrl"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/PrepareFinalization": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_PrepareFinalization",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareFinalizationRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/FinalizeSelection": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_FinalizeSelection",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/GetDocumentStatus": {
      "get": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_GetDocumentStatus",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseStatus"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/GetCreditDocumentsByUser": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_GetCreditDocumentsByUser",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCreditDocumentsByUserRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreditDocuments2"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/GetCreditDocumentsByContract": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_GetCreditDocumentsByContract",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCreditDocumentsByContractRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreditDocuments2"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/PrepareAttachment": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_PrepareAttachment",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareAttachmentRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/UploadAttachment": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_UploadAttachment",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/PrepareAttachmentByContract": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_PrepareAttachmentByContract",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareAttachmentByContractRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadReference"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/UploadAttachmentByContract": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_UploadAttachmentByContract",
        "consumes": [
          "application/octet-stream"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "referenceId",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "creationDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "format": "binary"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/ResendSMS": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_ResendSms",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "messageToClientToken",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/GetAvailableSigningMethods": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_GetAvailableSigningMethods",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetAvailableSigningMethodsRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailableSigningMethods"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_DeleteDocument",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/{org}/REST/v2/DocumentService/isAlive": {
      "get": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_IsAlive",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/{org}/REST/DocumentService2/DownloadDocumentPreview": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_DownloadDocumentPreview",
        "consumes": [

        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "OK",
              "type": "file",
              "format": "binary"
            }
          }
        }
      }
    },
    "/{org}/REST/DocumentService2/SubmitDispatchForm": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_SubmitDispatchForm",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubmitDispatchFormRequest"
            }
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        }
      }
    },
    "/{org}/REST/DocumentService2/SendDocumentPreview": {
      "post": {
        "tags": [
          "DocumentService2"
        ],
        "operationId": "DocumentService2_SendDocumentPreview",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "externalId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProcessingResult"
            }
          }
        }
      }
    },
    "/{org}/REST/inSignService/Callback": {
      "get": {
        "tags": [
          "InSignService"
        ],
        "operationId": "InSignService_Callback",
        "consumes": [

        ],
        "produces": [

        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/{org}/REST/inSignService/isAlive": {
      "get": {
        "tags": [
          "InSignService"
        ],
        "operationId": "InSignService_IsAlive",
        "consumes": [

        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PrepareDocumentRequest": {
      "required": [
        "DocumentData",
        "ClientData",
        "CurrentUserInfo",
        "CreatorInfo"
      ],
      "properties": {
        "DocumentData": {
          "$ref": "#/definitions/DocumentInfo"
        },
        "ClientData": {
          "$ref": "#/definitions/ClientInfo"
        },
        "OtherClients": {
          "items": {
            "$ref": "#/definitions/SigneeInfo"
          },
          "type": "array"
        },
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "CreatorInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "NonClientSignatures": {
          "items": {
            "$ref": "#/definitions/SignatureData"
          },
          "type": "array"
        },
        "AdditionalData": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentInfo": {
      "required": [
        "TypeCode",
        "TemplateVersion",
        "Name",
        "FormId",
        "ContractNumber"
      ],
      "properties": {
        "TypeCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "TemplateVersion": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "ExternalId": {
          "type": "string"
        },
        "FormId": {
          "type": "string",
          "maxLength": 15,
          "minLength": 0
        },
        "EaCodeMain": {
          "type": "string",
          "maxLength": 4,
          "minLength": 0
        },
        "EaCodeOthers": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "ContractNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientInfo": {
      "required": [
        "Name",
        "ExternalId"
      ],
      "properties": {
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "BirthNumber_RegNumber": {
          "type": "string",
          "maxLength": 10,
          "minLength": 0
        },
        "BirthDate": {
          "type": "string",
          "format": "date-time"
        },
        "PhoneNumber": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "EmailAddress": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "Signatures": {
          "items": {
            "$ref": "#/definitions/SignatureData"
          },
          "type": "array",
          "minLength": 1
        },
        "ExternalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "SigneeInfo": {
      "required": [
        "Signatures"
      ],
      "properties": {
        "PhoneNumber": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "EmailAddress": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "Signatures": {
          "items": {
            "$ref": "#/definitions/SignatureData"
          },
          "type": "array",
          "minLength": 1
        }
      },
      "type": "object"
    },
    "UserInfo": {
      "required": [
        "CPM"
      ],
      "properties": {
        "CPM": {
          "type": "string",
          "maxLength": 8,
          "minLength": 8
        },
        "ICP": {
          "type": "string"
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "SignatureData": {
      "required": [
        "Code"
      ],
      "properties": {
        "Code": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "Info1": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "Info2": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "Info3": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "UploadReference": {
      "properties": {
        "ReferenceId": {
          "type": "integer",
          "format": "int64"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "ProcessingResult": {
      "properties": {
        "Code": {
          "type": "integer",
          "format": "int32"
        },
        "Message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResponseUrl": {
      "properties": {
        "TargetUrl": {
          "type": "string"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "DocumentDetailUrlRequest": {
      "required": [
        "CurrentUserInfo",
        "CreatorInfo",
        "DocumentExternalId"
      ],
      "properties": {
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "CreatorInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "DocumentExternalId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrepareFinalizationRequest": {
      "required": [
        "CurrentUserInfo",
        "CreatorInfo",
        "MainItemData"
      ],
      "properties": {
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "CreatorInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "MainItemData": {
          "$ref": "#/definitions/FinalizationInfo"
        },
        "OtherItemsData": {
          "items": {
            "$ref": "#/definitions/FinalizationInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "FinalizationInfo": {
      "required": [
        "DocumentExternalId",
        "EaCode"
      ],
      "properties": {
        "DocumentExternalId": {
          "type": "string"
        },
        "EaCode": {
          "type": "string",
          "maxLength": 4,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "ResponseStatus": {
      "properties": {
        "Status": {
          "type": "string"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "GetCreditDocumentsByUserRequest": {
      "required": [
        "CurrentUserInfo"
      ],
      "properties": {
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        }
      },
      "type": "object"
    },
    "CreditDocuments": {
      "required": [
        "DocumentsList"
      ],
      "properties": {
        "DocumentsList": {
          "items": {
            "$ref": "#/definitions/CreditDocument"
          },
          "type": "array"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "CreditDocument": {
      "required": [
        "ExternalId",
        "Status",
        "Category",
        "ContractNumber",
        "ClientName",
        "CreationDate"
      ],
      "properties": {
        "ExternalId": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "Category": {
          "type": "string"
        },
        "ContractNumber": {
          "type": "string"
        },
        "ClientName": {
          "type": "string"
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time"
        },
        "LastChangeDate": {
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    },
    "GetCreditDocumentsByContractRequest": {
      "required": [
        "ContractNumber"
      ],
      "properties": {
        "ContractNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "PrepareAttachmentRequest": {
      "required": [
        "CurrentUserInfo",
        "CreatorInfo",
        "AttachmentData"
      ],
      "properties": {
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "CreatorInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "AttachmentData": {
          "$ref": "#/definitions/AttachmentInfo"
        }
      },
      "type": "object"
    },
    "AttachmentInfo": {
      "required": [
        "DocumentExternalId",
        "Name",
        "ExternalId",
        "EaCodeMain",
        "TypeCode",
        "Note",
        "SendToCMP",
        "SendToPreview",
        "SendCompletedMail",
        "Poznamka"
      ],
      "properties": {
        "DocumentExternalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "ExternalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "EaCodeMain": {
          "type": "string",
          "maxLength": 4,
          "minLength": 0
        },
        "TypeCode": {
          "type": "string"
        },
        "DeclarationCode": {
          "type": "string"
        },
        "Note": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "SendToCMP": {
          "type": "boolean"
        },
        "SendToPreview": {
          "type": "boolean"
        },
        "SendCompletedMail": {
          "type": "boolean"
        },
        "FileContentType": {
          "type": "string"
        },
        "Poznamka": {
          "type": "string",
          "maxLength": 1000,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "PrepareAttachmentByContractRequest": {
      "required": [
        "CurrentUserInfo",
        "CreatorInfo",
        "AttachmentData"
      ],
      "properties": {
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "CreatorInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "AttachmentData": {
          "$ref": "#/definitions/AttachmentInfoByContract"
        }
      },
      "type": "object"
    },
    "AttachmentInfoByContract": {
      "required": [
        "ContractNumber",
        "Name",
        "ExternalId",
        "EaCodeMain",
        "TypeCode",
        "Note",
        "SendToCMP",
        "SendToPreview",
        "SendCompletedMail",
        "Poznamka"
      ],
      "properties": {
        "DocumentExternalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "ContractNumber": {
          "type": "string"
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "ExternalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "EaCodeMain": {
          "type": "string",
          "maxLength": 4,
          "minLength": 0
        },
        "TypeCode": {
          "type": "string"
        },
        "DeclarationCode": {
          "type": "string"
        },
        "Note": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "SendToCMP": {
          "type": "boolean"
        },
        "SendToPreview": {
          "type": "boolean"
        },
        "SendCompletedMail": {
          "type": "boolean"
        },
        "FileContentType": {
          "type": "string"
        },
        "Poznamka": {
          "type": "string",
          "maxLength": 1000,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "PrepareDocumentRequest2": {
      "required": [
        "DocumentData",
        "ClientData",
        "CurrentUserInfo",
        "CreatorInfo"
      ],
      "properties": {
        "DocumentData": {
          "$ref": "#/definitions/DocumentInfo2"
        },
        "ClientData": {
          "$ref": "#/definitions/ClientInfo2"
        },
        "OtherClients": {
          "items": {
            "$ref": "#/definitions/SigneeInfo2"
          },
          "type": "array"
        },
        "CurrentUserInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "CreatorInfo": {
          "$ref": "#/definitions/UserInfo"
        },
        "NonClientSignatures": {
          "items": {
            "$ref": "#/definitions/SignatureData"
          },
          "type": "array"
        },
        "AdditionalData": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DocumentInfo2": {
      "required": [
        "TypeCode",
        "TemplateVersion",
        "Name",
        "FormId",
        "ContractNumber"
      ],
      "properties": {
        "Account": {
          "$ref": "#/definitions/AccountInfo"
        },
        "ExpirationDate": {
          "type": "string",
          "format": "date-time"
        },
        "TypeCode": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "TemplateVersion": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "ExternalId": {
          "type": "string"
        },
        "FormId": {
          "type": "string",
          "maxLength": 15,
          "minLength": 0
        },
        "EaCodeMain": {
          "type": "string",
          "maxLength": 4,
          "minLength": 0
        },
        "EaCodeOthers": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "ContractNumber": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClientInfo2": {
      "required": [
        "Name",
        "ExternalId"
      ],
      "properties": {
        "UniversalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "Name": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "BirthNumber_RegNumber": {
          "type": "string",
          "maxLength": 10,
          "minLength": 0
        },
        "BirthDate": {
          "type": "string",
          "format": "date-time"
        },
        "PhoneNumber": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "EmailAddress": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "Signatures": {
          "items": {
            "$ref": "#/definitions/SignatureData"
          },
          "type": "array",
          "minLength": 1
        },
        "ExternalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "SigneeInfo2": {
      "required": [
        "Signatures"
      ],
      "properties": {
        "UniversalId": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "PhoneNumber": {
          "type": "string",
          "maxLength": 30,
          "minLength": 0
        },
        "EmailAddress": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "Signatures": {
          "items": {
            "$ref": "#/definitions/SignatureData"
          },
          "type": "array",
          "minLength": 1
        }
      },
      "type": "object"
    },
    "AccountInfo": {
      "required": [
        "Prefix",
        "Core"
      ],
      "properties": {
        "Prefix": {
          "type": "string",
          "maxLength": 6,
          "minLength": 0
        },
        "Core": {
          "type": "string",
          "maxLength": 10,
          "minLength": 2
        }
      },
      "type": "object"
    },
    "ResponseUrl2": {
      "properties": {
        "ExternalId": {
          "type": "string"
        },
        "TargetUrl": {
          "type": "string"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "CreditDocuments2": {
      "required": [
        "DocumentsList"
      ],
      "properties": {
        "DocumentsList": {
          "items": {
            "$ref": "#/definitions/CreditDocument2"
          },
          "type": "array"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "CreditDocument2": {
      "required": [
        "ExternalId",
        "Status",
        "Category",
        "ContractNumber",
        "ClientName",
        "CreationDate"
      ],
      "properties": {
        "DelegatedTo": {
          "type": "string"
        },
        "DocumentType": {
          "$ref": "#/definitions/DocumentTypeInfo"
        },
        "ExternalId": {
          "type": "string"
        },
        "Status": {
          "type": "string"
        },
        "Category": {
          "type": "string"
        },
        "ContractNumber": {
          "type": "string"
        },
        "ClientName": {
          "type": "string"
        },
        "CreationDate": {
          "type": "string",
          "format": "date-time"
        },
        "LastChangeDate": {
          "type": "string",
          "format": "date-time"
        }
      },
      "type": "object"
    },
    "DocumentTypeInfo": {
      "properties": {
        "Code": {
          "type": "string"
        },
        "Name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetAvailableSigningMethodsRequest": {
      "required": [
        "DocumentTypeExternalCode",
        "DocumentTypeVersion"
      ],
      "properties": {
        "DocumentTypeExternalCode": {
          "type": "string",
          "maxLength": 255,
          "minLength": 0
        },
        "DocumentTypeVersion": {
          "type": "string",
          "maxLength": 2,
          "minLength": 0
        }
      },
      "type": "object"
    },
    "AvailableSigningMethods": {
      "properties": {
        "Methods": {
          "items": {
            "$ref": "#/definitions/AvailableSigningMethod"
          },
          "type": "array"
        },
        "Result": {
          "$ref": "#/definitions/ProcessingResult"
        }
      },
      "type": "object"
    },
    "AvailableSigningMethod": {
      "properties": {
        "Type": {
          "type": "string"
        },
        "Category": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileResult": {
      "type": "file",
      "format": "binary"
    },
    "SubmitDispatchFormRequest": {
      "required": [
        "Documents"
      ],
      "properties": {
        "Documents": {
          "items": {
            "$ref": "#/definitions/DispatchFormDocument"
          },
          "type": "array",
          "minLength": 1
        },
        "DocumentsValid": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "DispatchFormDocument": {
      "required": [
        "ExternalId"
      ],
      "properties": {
        "ExternalId": {
          "type": "string",
          "maxLength": 15,
          "minLength": 0
        },
        "EaCode": {
          "type": "string",
          "maxLength": 4,
          "minLength": 0
        },
        "IsCancelled": {
          "type": "boolean"
        },
        "AttachmentsComplete": {
          "type": "boolean"
        },
        "NotCompletedReason": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "securityDefinitions": {
    "Basic": {
      "type": "basic",
      "description": "HTTP Authentication Method"
    }
  },
  "tags": [
    {
      "name": "DocumentService"
    },
    {
      "name": "DocumentService2"
    },
    {
      "name": "InSignService"
    }
  ]
}