<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\Visual Studio Projects\MPSS-FOMS\publish\DomainServices.CaseService.Api</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishSingleFile>false</PublishSingleFile>
    <ProjectGuid>a8779642-2fa0-4a5c-adb1-13dd0c425000</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
  <ItemGroup>
    <Content Remove="appsettings.development.json" />
    <Content Remove="kestrel.development.json" />
    <None Include="appsettings.development.json" />
    <None Include="kestrel.development.json" />
  </ItemGroup>
</Project>