<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\Visual Studio Projects\MPSS-FOMS\publish\DomainServices.UserService.Api</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ProjectGuid>fbf62539-ba98-484a-9456-b6c975bc057b</ProjectGuid>
    <SelfContained>true</SelfContained>
  </PropertyGroup>

	<ItemGroup>
		<Content Remove="appsettings.development.json" />
		<Content Remove="kestrel.development.json" />
		<None Include="appsettings.development.json" />
		<None Include="kestrel.development.json" />
	</ItemGroup>
</Project>