<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\NOBY.Api.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 50MB -->
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: ea856a99-17ee-4834-a5e4-212c87f9b963-->